.App{
  height: 100vh;
  background-color:dimgray;
  justify-content: center;
  align-items: center;
  display: flex;
}

.App .container{
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background-color: #f2faff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color:white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  animation-name: showThis;
  animation-duration: 3s;
}

@keyframes showThis {
  0%   {opacity: 0;}
  100% {opacity: 1;}
  }


.App .container button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 15px;
  border-radius: 50px;
  margin-top: 50px;
}

.App .container img{
  width: 200px;
  height: 200px;
  object-fit:cover;
  border-radius: 50%;
  border: 5px #039dfc solid;
}

